<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Trabajo Final Valorant</title>
</head>

<body>
    <header id="cabecera" class="fondoHeader position-sticky top-0 z-1 d-none">
        <nav class="navbar navbar-expand-lg fondo-bg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand bg-dark" href="./index.html">
                    <img class="img-fluid logo w-50" src="./imagenes/logoSinFondo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <a class="navbar-brand" href="./index.html">
                            <img class="img-fluid logo w-75" src="./imagenes/logoSinFondo.png" alt="logo">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body justify-content-end" id="navbarTogglerDemo02">
                        <a id="botonAgentesAncord"
                            class="p-2 ps-4 pe-4 m-1 botones rounded-5 fw-bold navbar-brand text-xl-center nav-link"
                            aria-current="page" href="#">AGENTS</a>
                        <a id="botonMapasAncord"
                            class="p-2 ps-4 pe-4 m-1 botones  rounded-5 fw-bold navbar-brand text-xl-center nav-link"
                            aria-current="page" href="#">MAPS</a>
                        <a id="botonTablaAncord"
                            class="p-2 ps-4 pe-4 m-1 botones  rounded-5 fw-bold navbar-brand text-xl-center nav-link"
                            aria-current="page" href="#">Table Division</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<cards players>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <main id="app">
        <div id="divCheckboxAgents" class="mb-5 d-none">
            <div class="d-flex justify-content-around  align-items-center flex-wrap mt-5 ms-4">
                {{superFiltroAgents}}

                <div class=" fs-5 d-flex flex-wrap ">
                    <div v-for="rol in roles" class="form-check form-switch m-2">
                        <input v-model="categoriasSeleccionadasAgents" class="form-check-input border-white bg-danger" type="checkbox" role="switch"
                            :id="rol" :value="rol">
                        <label  class="form-check-label text-white" :for="rol">{{rol}}</label>
                    </div>
                </div>


                <div>
                    <form class="d-flex " role="search">
                        <input v-model="textoBuscarAgents" id="inputBusquedad" class="form-control me-1 border border-danger" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-danger bg-danger rounded-5" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="divCheckboxMapas" class="mb-5 d-none">
            <div class="d-flex justify-content-around  align-items-center flex-wrap mt-5 ms-4">
                {{superFiltroMapas}}

                <div class=" fs-5 d-flex flex-wrap ">
                    <div v-for="map in maps" class="form-check form-switch m-2">
                        <input v-model="categoriasSeleccionadasMapas" class="form-check-input border-white bg-danger" type="checkbox" role="switch"
                            :id="map.displayName" :value="map.displayName">
                        <label  class="form-check-label text-white" :for="map.displayName">{{map.displayName}}</label>
                    </div>
                </div>


                <div>
                    <form class="d-flex " role="search">
                        <input v-model="textoBuscarMapas" id="inputBusquedad" class="form-control me-1 border border-danger" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-danger bg-danger rounded-5" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <section id="cardAgents"
            class="seccionCartas d-none m-5 d-flex justify-content-center align-items-center flex-wrap">
            <div v-if="agents.length == 0">
                <h2 class="text-white divEmergente">
                    No hay ningun AGENTE para tu busquedad
                </h2>
            </div>
            <div v-for="agent in agents" class="card m-3 ">
                <div class="face Front">

                    <img class="imagenPruebaCards" :src="agent.displayIcon" alt={{agent.displayName}}>
                    <h3>{{agent.displayName}} </h3>

                </div>
                <div class="face Back">
                    <h3>{{agent.displayName.toUpperCase()}}</h3>

                    <p>{{agent.description}}</p>
                    <div class="linkSage">
                        <a :href="'../html/details.html?uuid='+agent.uuid">MORE DETAILS</a>

                    </div>
                </div>
            </div>

        </section>


        <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<cards mapas>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        <section id="cardMaps"
            class="seccionCartas d-none m-5 d-flex justify-content-center align-items-center flex-wrap  ">
            <div v-if="maps.length == 0">
                <h2 class="text-white divEmergente">
                    No hay ningun MAPA para tu busquedad
                </h2>
            </div>
            <div v-for="map in maps" class="cardsMaps m-5 ">
                <div class="face Front">

                    <img class="imagenPruebaCards" :src="map.splash" alt={{map.displayName}}>
                    <h3>{{map.displayName}}</h3>

                </div>
                <div class="face Back">
                    <h2>{{map.displayName}}</h2>

                    <p>{{map.narrativeDescription}}</p>
                    <div class="linkSage">
                        <a :href="'../html/details.html?uuid='+map.uuid">MORE DETAILS</a>

                    </div>
                </div>
            </div>

        </section>
        <section id="sectionTable" class=" m-5 d-none" >
            <table class="table table-hover table-dark">
                <tbody>
                    <tr class="table-danger">
                        <th class="text-center">DIVISION</th>
                        <th class="text-center">ICON</th>
                    </tr>
                    <tr v-for="data in tiers">
                        <td class="fw-bold text-center">{{data.tierName}}</td>
                        <td class="text-center"><img :src="data.smallIcon" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </section>


        <!--<<<<<<<<<<<<<<<<<<<<<<<<<< seccion de video <<<<<<<<<<<<<<<<<<<-->
        <section id="videoPrincipal" class="hero ">
            <video class="videoInicio videoInicioRP" muted autoplay loop>
                <source src="../prueba/Valorant_20s.mp4">
            </video>
            <div class="prueba2 prueba2RP position-absolute">
                <img class="position-absolute " src="./imagenes/logoSinFondo.png" alt="">
            </div>
            <div class="position-absolute prueba3 prueba3RP">
                <h2>
                    Welcome to the Valorant interface, select what you want to see
                </h2>
            </div>
            <div class="position-absolute prueba4 prueba4RP">
                <button id="botonAgentes" class="btn btn-danger m-3">
                    AGENTS
                </button>
                <button id="botonMapas" class="btn btn-danger m-3">
                    MAPS
                </button>
                <button id="botonTable" class="btn btn-danger m-3">
                    TABLE DIVISION
                </button>

            </div>

            <div class="capa"></div>

        </section>

        



    </main>
    <footer id="footer" class=" d-flex justify-content-around  align-items-center flex-wrap d-none ">

        <div class=" d-flex justify-content-center align-items-center">

            <a class="navbar-brand m-3 " href="https://playvalorant.com/es-mx/">
                <img src="./imagenes/logoValorantMini.png" alt="Logo Valorant" width="50" height="40"
                    class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand m-3 d-flex ju" href="https://www.strats.gg/valorant">
                <img src="./imagenes/strats_gg_logo.jpg" alt="logo Strats gg" width="50" height="40"
                    class="d-inline-block align-text-top">
            </a>
        </div>
        <div>
            <ul class="names d-flex fw-bold me-4 ">
                <ol class=" text-white ">Jeison Ramos</ol>
                <ol class=" text-white ">Fernando Cardona</ol>
                <ol class=" text-white ">Karen Zarate</ol>
                <ol class=" text-white ">Neider Nuñez</ol>
            </ul>
        </div>

    </footer>



    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>scripts<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <script src="../Modulos/funciones.js" type="module"></script>
    <script src="../Modulos/variables.js" type="module"></script>
    <script src="../javascript/main.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>